.footer {
  background-color: rgb(255, 255, 255);
  padding: 2rem 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  background-image:url('/images/bg.jpg');
  
}

.footer-about,
.footer-contact {
  flex: 1 1 300px;
  min-width: 250px;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer h3 {
  margin-bottom: 0.8rem;
  color: rgb(47, 44, 44);
  font-size: 1.25rem;
}

.footer p {
  color: rgb(64, 59, 59);
  line-height: 1.6;
  font-size: 1rem;
}

.footer a {
  color: rgb(64, 59, 59);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Tablet adjustments */
@media (max-width: 1024px) {
  .footer {
    padding: 2rem 3%;
  }
}



@media (max-width: 600px) {
  .footer {
    flex-direction: row;           
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;                 
    padding: 0.5rem 0.5rem;        
    text-align: left;            
  }

  .footer-about,
  .footer-contact {
    flex: 1 1 48%;                  
    min-width: unset;             
    margin: 0;
  }

  .footer h3 {
    font-size: 0.95rem;             
    margin-bottom: 0.2rem;           
  }

  .footer p {
    font-size: 0.8rem;             
    line-height: 1.2;              
    margin-bottom: 0.2rem;           
  }
}


